*.a
*.o
*.so
*.os
*.pyc
*~
.sconsign.dblite
.sconf_temp
config.cache
config.log
doc/xmms2-et.1.gz
doc/xmms2.1.gz
doc/xmms2d.8.gz
options.cache
xmms2-client-cpp-glib.pc
xmms2-client-cpp.pc
xmms2-client-ecore.pc
xmms2-client-glib.pc
xmms2-client.pc
xmms2-plugin.pc
src/clients/cli/xmms2
src/clients/et/xmms2-et
src/clients/lib/xmmsclient++-glib/libxmmsclient++-glib.so.0
src/clients/lib/xmmsclient-ecore/libxmmsclient-ecore.so.0
src/clients/lib/xmmsclient-glib/libxmmsclient-glib.so.0
src/clients/lib/xmmsclient/libxmmsclient.so.0
src/include/xmms/xmms_defs.h
src/xmms/converter.c
src/xmms/xmms2-launcher
src/xmms/xmms2d
