Source: xmms2
Section: sound
Priority: optional
Maintainer: Jens L. Taprogge <jens.taprogge@post.rwth-aachen.de>
Standards-Version: 3.5.8
Build-Depends: debmake, debhelper (>= 4.1.67), scons, python2.3 (>= 2.3-1), python2.3-dev (>= 2.3-1), python2.3-pyrex, ruby, ruby1.8, ruby1.8-dev, libsdl-ttf2.0-dev, libflac-dev, libspeex-dev, libmodplug-dev, libmad0-dev, libvorbis-dev, libasound2-dev, libsqlite3-dev, libcurl3-dev, libglib2.0-dev, libecore0-dev, libjack0.80.0-dev, libsidplay2-dev

Package: xmms2
Architecture: all
Depends: xmms2-core, xmms2-client-cli, xmms2-transport-curl
Description: Client/server based media player system
 This package is a dummy package depending on various other XMMS2 packages.
 Installing this package enables XMMS2 playback of Ogg Vorbis and MP3 files
 from local and remote sources.

Package: xmms2-common-dev
Architecture: all
Depends: debconf (>= 0.2.78)
Description: XMMS2 - common devel files
 This package contains headers required for both developing XMMS2 clients and
 plugins.

Package: xmms2-plugin-dev
Architecture: all
Depends: debconf (>= 0.2.78), xmms2-common-dev
Description: XMMS2 - plugin devel files
 This package contains headers required for developing XMMS2 plugins.

Package: xmms2-core
Architecture: any
Conflicts: xmms2-client-gtk2, xmms2-decoder-sid
Depends: debconf (>= 0.2.78), xmms2-output, ${shlibs:Depends}
Recommends: xmms2-decoder-mad, xmms2-decoder-vorbis, xmms2-output-alsa, xmms2-et
Suggests: xmms2-client
Description: XMMS2 - core package
 This package just contains the daemon that loads plugins and allows clients to
 connect.

Package: xmms2-et
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version})
Description: XMMS2 - phone home package
 This package contains a small program that (anonymously) reports back
 information on your computer and xmms2 configuration to the xmms2 developers.

Package: libxmms2client
Architecture: any
Depends: debconf (>= 0.2.78), ${shlibs:Depends}
Description: XMMS2 - clientlibrary
 This package contains the clientlib.

Package: libxmms2client-dev
Architecture: any
Depends: debconf (>= 0.2.78), libxmms2client, xmms2-common-dev
Description: XMMS2 - clientlibrary devel files
 This package contains files for developing XMMS2 clients.

Package: libxmms2client-ecore
Architecture: any
Depends: debconf (>= 0.2.78), ${shlibs:Depends}
Description: XMMS2 - ecore clientlibrary
 This package contains the clientlib.

Package: libxmms2client-ecore-dev
Architecture: any
Depends: debconf (>= 0.2.78), libxmms2client-ecore
Description: XMMS2 - ecore clientlibrary devel files
 This package contains the headers for libxmms2client-ecore.

Package: libxmms2client-glib
Architecture: any
Depends: debconf (>= 0.2.78), ${shlibs:Depends}
Description: XMMS2 - glib clientlibrary
 This package contains the clientlib.

Package: libxmms2client-glib-dev
Architecture: any
Depends: debconf (>= 0.2.78), libxmms2client-glib
Description: XMMS2 - glib clientlibrary devel files
 This package contains the headers for libxmms2client-glib.

Package: libxmms2client-ruby
Architecture: all
Depends: libxmms2client-ruby1.8, ruby
Description: XMMS2 - Ruby bindings
 This package contains Ruby bindings for the xmms2 client library.
 .
 This package is an empty dummy package that always depends on a package
 built for Debian's default Ruby version.

Package: libxmms2client-ruby1.8
Architecture: any
Depends: ruby1.8, ${shlibs:Depends}
Description: XMMS2 - Ruby bindings
 This package contains Ruby bindings for the xmms2 client library.
 .
 It is packaged for the version 1.8 series of Ruby.

Package: libxmms2client-ecore-ruby
Architecture: all
Depends: libxmms2client-ecore-ruby1.8, ruby
Description: XMMS2 - ecore client library Ruby bindings
 This package contains Ruby bindings for the xmms2 ecore client library.
 .
 This package is an empty dummy package that always depends on a package
 built for Debian's default Ruby version.

Package: libxmms2client-ecore-ruby1.8
Architecture: any
Depends: ruby1.8, libxmms2client-ruby1.8 (= ${Source-Version}), ${shlibs:Depends}
Description: XMMS2 - ecore client library Ruby bindings
 This package contains Ruby bindings for the xmms2 ecore client library.
 .
 It is packaged for the version 1.8 series of Ruby.

Package: python-xmms2client
Architecture: all
Depends: python (>= 2.3), python (<< 2.4), python2.3-xmms2client
Description: XMMS2 - Python bindings
 This package contains Python bindings for the xmms2 client library.
 .
 This package is an empty dummy package that always depends on a package
 built for Debian's default Python version.

Package: python2.3-xmms2client
Architecture: any
Depends: python2.3, ${shlibs:Depends}
Description: XMMS2 - Python bindings
 This package contains Python bindings for the xmms2 client library.
 .
 It is packaged for the version 2.3 series of Python.

#Package: libxmms2client-python2.4
#Architecture: any
#Depends: python2.4
#Build-Depends: python2.4, python2.4-pyrex
#Description: XMMS2 - Python bindings
# This package contains Python bindings for the xmms2 clientlib.
# .
# It is packaged for the version 2.4 series of Python.

Package: xmms2-client-cli
Architecture: any
Provides: xmms2-client
Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
Description: XMMS2 - cli client
 This package contains a simple text-ui for xmms2.

#Package: xmms2-client-sdlvis
#Architecture: any
#Provides: xmms2-client
#Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
#Description: XMMS2 - simple SDL visualization client
# This package contains a simple SDL visualization client for xmms2.

Package: xmms2-transport-curl
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
Description: XMMS2 - curl transport for HTTP
 This package contains a HTTP transport for xmms2.

Package: xmms2-transport-samba
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
Description: XMMS2 - Samba transport
 This package contains a Samba transport for xmms2.

#Package: xmms2-cd
#Architecture: any
#Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
#Description: XMMS2 - CD transport and decoder
# This package enables direct reading of CDs for xmms2.

Package: xmms2-decoder-vorbis
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
Description: XMMS2 - vorbis decoder
 This package enables ogg-vorbis decoding for xmms2.

Package: xmms2-decoder-flac
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
Description: XMMS2 - flac decoder
 This package enables flac decoding for xmms2.

Package: xmms2-decoder-modplug
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
Description: XMMS2 - flac decoder
 This package enables modplug decoding for xmms2.

Package: xmms2-decoder-mad
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
Description: XMMS2 - libmad based mp3 decoder
 This package enables mp3 decoding for xmms2.

#Package: xmms2-decoder-speex
#Architecture: any
#Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
#Description: XMMS2 - speex decoder
# This package enables speex decoding for xmms2.

Package: xmms2-output-oss
Architecture: any
Provides: xmms2-output
Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
Description: XMMS2 - OSS output
 This package enables OSS output for xmms2.

Package: xmms2-output-alsa
Architecture: any
Provides: xmms2-output
Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
Description: XMMS2 - ALSA output
 This package enables ALSA output for xmms2.

Package: xmms2-output-jack
Architecture: any
Provides: xmms2-output
Depends: debconf (>= 0.2.78), xmms2-core (= ${Source-Version}), ${shlibs:Depends}
Description: XMMS2 - JACK output
 This package enables JACK output for xmms2.

