Source: xmms2
Section: sound
Priority: optional
Maintainer: Anders Gustafsson <andersg@xmms.org>
Standards-Version: 3.5.8
Build-Depends: debmake

Package: xmms2-core
Architecture: any
Conflicts: xmms2-client-gtk2, xmms2-decoder-sid
Depends: debconf (>= 0.2.78), ${shlibs:Depends}
Conflicts: xmms2
Description: XMMS2 - core package - private beta - DO NOT SPREAD!
 This package just contains the daemon that loads plugins and allows clients to connect.
 DO NOT SPREAD!

Package: libxmms2client
Architecture: any
Depends: debconf (>= 0.2.78), ${shlibs:Depends}
Description: XMMS2 - clientlibrary - private beta - DO NOT SPREAD!
 This package contains the clientlib.
 DO NOT SPREAD!

Package: libxmms2client-dev
Architecture: any
Depends: debconf (>= 0.2.78), libxmms2client, ${shlibs:Depends}
Description: XMMS2 - clientlibrary devel files - private beta - DO NOT SPREAD!
 This package contains the headers for libxmms2client.
 DO NOT SPREAD!

Package: xmms2-client-cli
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core, libxmms2client, ${shlibs:Depends}
Description: XMMS2 - cli client - private beta - DO NOT SPREAD!
 This package contains a simple text-ui for xmms2
 DO NOT SPREAD!

Package: xmms2-transport-curl
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core, ${shlibs:Depends}
Description: XMMS2 - curl transport for HTTP - private beta DO NOT SPREAD!
 This package contains a HTTP transport for xmms2.
 DO NOT SPREAD!

Package: xmms2-decoder-vorbis
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core, ${shlibs:Depends}
Description: XMMS2 - vorbis decoder - private beta - DO NOT SPREAD!
 This package let you play ogg-vorbis-tunes

Package: xmms2-effect-ices
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core, ${shlibs:Depends}
Description: XMMS2 - ices effect - private beta - DO NOT SPREAD!
 This package let you stream to a icecast2 server.

Package: xmms2-sqlite
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core, ${shlibs:Depends}
Description: XMMS2 - sqlitebased medialib - private beta - DO NOT SPREAD!
 This package is a backed for the medialib based on sqlite

Package: xmms2-client-sdl
Architecture: any
Depends: debconf (>= 0.2.78), xmms2-core, libxmms2client, ${shlibs:Depends}
Description: XMMS2 - simple vis - private beta - DO NOT SPREAD!
 This is a very simple visualization for xmms2.

